.fadeInLeft {
    opacity: 0;
    transform: translateX(80px);

    &.triggered {
        animation: fadeInLeft 500ms ease-in-out forwards;
    }
}

.fadeInRight {
    opacity: 0;
    transform: translateX(-80px);

    &.triggered {
        animation: fadeInRight 500ms ease-in-out forwards;
    }
}

.fadeInBottom {
    opacity: 0;
    transform: translateY(40px);

    &.triggered {
        animation: fadeInBottom 500ms ease-in-out forwards;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
