.callbackSection {
    padding: 90px 0;
    background-color: $accent-color;
    position: relative;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

    @include media-breakpoint-down(lg) {
        padding: 90px 0 154px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include pattern-shape;
        background-position: center top -325px;
        background-size: 127%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        @include media-breakpoint-down(lg) {
            background-position: top 39% center;
            background-size: 222%;
            background-repeat: repeat;
        }
    }
}

.callbackShape {
    max-width: 528px;
    margin: auto;
}

.callbackInner {
    position: relative;
    clip-path: polygon(5% 0, 95% 0, 100% 95%, 0% 100%);
    padding: 76px 108px  83px 113px;
    max-width: 676px;
    margin: auto;

    @include media-breakpoint-down(md) {
        padding: 57px 57px 83px;
    }

    @include media-breakpoint-down(sm) {
        padding: 57px 26px 83px;
    }
}

.callbackTitle {
    margin-top: 23px;

    @include media-breakpoint-down(md) {
        font-size: 42px;
        margin-top: 18px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 32px;
    }

    u {
        @include underline($color: $primary_color, $bottom: 1px, $width: 105%);
    }
}

.callbackBtn {
    margin-top: 37px;
}

.callbackIntroTitle {

    @include media-breakpoint-down(md) {
        font-size: 28px;
    }

    
    @include media-breakpoint-down(sm) {
        font-size: 22px;
    }
}