.ctaSection {
    padding: 165px 0 150px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    margin-bottom: -34px;
    z-index: 23;

    @include media-breakpoint-down(lg) {
        padding: 158px 0 70px;
        background: #fff;
    }
    
    &::before {
        content: '';
        transform: scaleX(-1);
        @include pattern-background;
        background-position: center bottom -143px;
        background-size: 127%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include media-breakpoint-down(xl) {
            background-size: 147%;
        }

        
        @include media-breakpoint-down(lg) {
            background-position: top 19% center;
            background-size: 318%;
            background-repeat: repeat;
        }

        @include media-breakpoint-down(sm) {
            background-size: 448%;
        }
       
    }

    .container-fluid {
        position: relative;
    }
}

.ctaBlock {
    padding: 47px 48px 46px 91px;
    clip-path: polygon(4% 0, 96% 0, 100% 96%, 0 100%);
    max-width: 556px;
    margin-left: auto;
    transform: translateX(59px);

    @include media-breakpoint-down(lg) {
        padding: 65px 64px 62px 78px;
        transform: none;
        max-width: 86%;
        margin: auto;
    }

    @include media-breakpoint-down(sm) {
        padding: 65px 40px 62px 47px;
        max-width: unset;
    }
}

.ctaSectionBtn {
    margin-top: 30px;
}

.ctaBlockHeading {

    @include media-breakpoint-down(xl) {
        font-size: 44px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 30px;
    }

    u {
        @include underline ($color: $accent_color, $bottom: 2px)
    }
}

.ctaImageBlock {
    position: absolute;
    left: 3%;
    top: -49px;

    @media all and (max-width: 1599px) {
        position: absolute;
        left: -7%;
        top: unset;
        bottom: -185px;

        img {
            width: 63vw;
            max-width: 800px;
        }
    }

    @include media-breakpoint-down(lg) {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }
}

.ctaSectionText {
    margin-top: 20px;
}