.footerWrap {
    padding: 97px 0 47px;
    clip-path: polygon(0% 0, 100% 6%, 100% 100%, 0 100%);
    margin-top: -31px;
}

.footerNavList {
    margin-top: 41px;

    li {
        list-style-type: none;
        font-weight: 500;
        margin-top: 16px;

        a {

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.socialMediaLinks {
    display: flex;
    grid-gap: 14px;
    align-items: center;
    flex-wrap: wrap;

    li {
        list-style-type: none;
        position: relative;

        &:nth-child(2) {

            .socialMediaIconShape {
                transform: rotate(112deg) translateY(0px) translateX(1px);
            }
        }

        &:nth-child(3) {

            .socialMediaIconShape {
                transform: rotate(205deg) translateY(-2px) translateX(1px);
            }

            .socialMediaIconElem {
                transform: translate(-54%, -57%);
            }
        }

        &:nth-child(4) {

            .socialMediaIconShape {
                transform: rotate(298deg) translateY(0px) translateX(-1px);
            }

            .socialMediaIconElem {
                transform: translate(-54%, -54%);
            }
        }
        
    }
}

.socialMediaIcon {
    position: relative;

    svg {

        .path1 {
            fill: $primary_color;
            transition: all .4s ease;
        }

        .path2 {
            stroke: $primary_color;
            transition: all .4s ease;
        }

    }

    &:hover {

        svg {

            .path1 {
                fill: $accent_color;
            }

            .path2 {
                stroke: $accent_color;
            }
             
        }
    }

}

.socialMediaIconElem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerSubscribeNotice {
    margin-top: 28px;
    max-width: 209px;
}

.footerSubscribeLink {
    margin-top: 20px;
}

.footerSubscribeLinkItem {

    &:hover {
        color: $accent-color;

        &::after {
            background-color: $accent-color;
        }
    }
}

.footerBottomRow {
    margin-top: 83px;
}

.footerBottomLink {
    @include underline($color: $primary_color, $size: 'small', $bottom: 3px);
}

.copyrightNotice {
    font-size: 16px;
}