@import 'footer';

body {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .27px;
    font-family: $primary-font;
    margin: 0;
}

img {
    max-width: 100%;
}

.mainPageWrap {
    overflow: hidden;
}

// Create background classes based on the theme colors

@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background-color: $value;
    }
}

.container,
.container-fluid {
    padding-left: 0;
    padding-right: 0;

}

.row {

    @include mobile {
        padding: 0 20px;
    }
}

.card {
    position: relative;

    .innerCardShape {
        clip-path: polygon(2% 2%, 100% 0, 98% 100%, 0 98%);
        position: relative;
        padding: 87px 54px;
        background-color: $primary-color;
    }

    .outerCardShape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.881);
        transition: transform .2s ease;

        &::before {
            // transition: all .4s ease;
            content: '';
            position: absolute;
            top: 29px;
            left: -18px;
            border: 3px solid $primary-color;
            border-right: 0;
            border-bottom: 0;
            width: 21px;
            height: 94.8%;
        }

        &::after {
            // transition: all .3s ease;
            content: '';
            position: absolute;
            bottom: -10px;
            left: -15px;
            width: 94%;
            height: 16px;
            border: 3px solid $primary-color;
            border-left: 0;
            border-top: 0;
            transform: skew(4deg) rotate(1deg);
        }
    }

    .innerCardBg,
    .innerCardImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cardCategory {
        @include underline ;
        font-weight: 600;

        &::before {
            height: 10px;
            bottom: 5px;
        }
    }

    .cardTitle {
        margin-top: 20px;
        font-weight: 600;
    }

    .cardDate {
        margin-top: 26px;
    }

    .innerCardText {
        position: relative;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .innerCardImg {
        object-fit: cover;
    }

    .innerCardBg {
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        
    }

    &:hover {

        .innerCardBg {
            opacity: 0;
            visibility: hidden;
        }

        .innerCardText {
            opacity: 1;
            visibility: visible;
        }

        .outerCardShape {
            transform: scale(1);
        }
    }
}

