header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 100;
    padding: 37px 0;

    @include media-breakpoint-up(xxl) {
        padding: 37px 34px;
    }
}

.headerContainer {

    @include media-breakpoint-up(xxl) {
        max-width: 100%;
    }

}

.navWrap {
    display: flex;
    align-items: center;
    z-index: 200;
}

.logoWrap {
    margin-right: auto;

    svg {

        @include media-breakpoint-down(md) {
            height: 40px;
            width: auto;
        }
    }
}

.sideNavWrap {
    background-color: white;
    height: 100vh;
    width: 80%;
    max-width: 670px;
    right: 0;
    position: fixed;
    padding: 55px 106px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateX(100%);
    z-index: 400;
    top: 0;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
    overflow-y: auto;

    @include media-breakpoint-down(md) {
        padding: 37px 27px 0 52px;
    }

    &.open {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateX(0%);
    }
}

.menuTriggerWrap {
    cursor: pointer;
    z-index: 300;
}

.menuTrigger {

    svg {
        @include media-breakpoint-down(md) {
            height: 16px;
            width: auto;
        }
    }

    svg path {
        fill: #fff;
        transition: fill .3s ease;
    }

    &:hover {

        svg path {
            fill: $accent-color;
        }
        
    }
}

.sideLinks {
    margin-top: 65px;

    .sideLinkItem {
        font-size: 44px;
        list-style-type: none;
        display: block;

        @include media-breakpoint-down(md) {
            font-size: 32px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 23px;
        }

        &:not(:first-child) {
            margin-top: 28px;

            @include media-breakpoint-down(md) {
                margin-top: 9px;
            }
        }
    
        a {
            @include underline($color: $primary-color, $size: 'medium', $bottom: 12px) ;
    
            &::before {
                opacity: 0;
                transition: opacity .3s ease;

                @include media-breakpoint-down(md) {
                    bottom: 8px;
                    height: 8px;
                }
            }
    
            &:hover {
    
                &::before {
                    opacity: 1;
                }
    
            }
        }
    }
}

.sideSocialMediaLinks {
    margin-top: 70px;
}


.closeSideMenuWrap {
    position: absolute;
    top: 53px;
    right: 47px;
    cursor: pointer;
}

.sideLogo svg {

    @include media-breakpoint-down(md) {
        height: 56px;
        width: auto;
    }
}