.introSection {
    padding-bottom: 120px;
    position: relative;
    display: block;
    z-index: 4;
    margin-top: -22px;
    @include pattern-background;
    background-position: center bottom -334px;
    background-size: 127%;
    background-repeat: no-repeat;

   @media all and (max-width: 1250px) {
        background-position: center;
        background-size: 153%;
        background-repeat: repeat;
    }

    @include media-breakpoint-down(md) {
        background-position: center;
        background-size: 368%;
        background-repeat: repeat;
    }
}

.introLeftSection {
    position: relative;
    margin-top: 184px;
    max-width: 530px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        padding: 34px 66px 122px 93px;
        box-sizing: unset;
        clip-path: polygon(0.5% 0, 97% 0, 100% 97%, 0 100%);
    }

    u {
        @include underline($bottom: 4px, $width: 103% );
    }
}

.introTextWrap {
    max-width: 530px;
}

.introRightSection {
    margin-top: 426px;
    position: relative;
    padding: 5px 13px;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
        margin-top: 120px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: #fff;
        clip-path: polygon(0 2%, 96% 0, 100% 97%, 3% 100%);
        z-index: -1;
        padding: 82px 44px 26px 57px;
        box-sizing: unset;
    }

    .button {
        margin-top: 40px;
    }
}