
// Responsive 

@mixin mobile {
    @media (max-width: 640px) { @content; }
}

@mixin tablet {
    @media (max-width: 1024px) { @content; }
}

@mixin large {
    @media (min-width: 1025px) { @content; }
}

// Underline

@mixin underline($color: $accent_color, $size: 'regular', $bottom : 16px, $width: 100%) {
    text-decoration: none;
    position: relative;
    display: inline-block;
    z-index: 3;

    &::before {
        content: '';
        background: $color;
        width: $width;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: $bottom;
        left: 50%;
        transform: translate(-50%);

        @if $size == 'regular' {
            height: 21px;
            clip-path: polygon(0 5%, 98% 0, 100% 100%, 0 93%);;
        }

        @if $size == 'small' {
            height: 8px;
            clip-path: polygon(0 7%, 98% 0, 100% 100%, 0 93%);
        }
    }
}

@mixin theme-list($color: $secondary_color){
    list-style: none;

    li {
        position: relative;
        padding-left: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            mask-image: url('/images/icons/pagination-dot.svg');
            background-color: $color;
            width: 10px;
            height: 10px;
        }
    }
}

@mixin pattern-background {
    background-image: url('/images/patterns/pattern-bg-lg2.svg');
    background-position: center -5px;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin pattern-shape {
    background-image: url('/images/patterns/pattern-shape.svg');
    background-position: center -120px;
    background-size: cover;
    background-repeat: no-repeat;
}

