.serviceSection {
    padding: 197px 0 183px;
    background-color: $secondary_color;
    margin-top: -42px;
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    margin-bottom: -53px;
    z-index: 44;
    position: relative;

    @include media-breakpoint-down(lg) {
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 99%);
        padding: 100px 0 130px;
    }

    @include media-breakpoint-down(xl) {
        margin-bottom: -100px;
    }
}

.serviceHeading {
    font-size: $caption-font-size;
    color: #fff;
    font-weight: 600;
    line-height: 1.1;

    @include media-breakpoint-down(lg) {
        font-size: $caption-font-size-mobile;
    }

    @include media-breakpoint-down(sm) {
        font-size: 34px;
    }


    u {
        @include underline($color: $primary_color, $bottom: 5px, $width: 104%);

        @include media-breakpoint-down(lg) {
            
            &::before {
                bottom: 1px;
            }
        }
    }
}

.serviceSubtitle {
    margin-top: 40px;
    padding: 0 20px;
    line-height: 1.3;

    @include media-breakpoint-down(lg) {
        font-size: 26px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 21px;
        padding: 0 12px;
    }
}

.serviceBlocks {
    margin-top: 114px;

    @include media-breakpoint-down(xl) {
        margin-top: 45px;
    }
}

.serviceBlock {
    clip-path: polygon(0 0, 100% 2%, 100% 98%, 2% 100%);
    padding: 59px 34px 58px;
    max-width: 384px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(xl) {
        margin: auto;
        max-width: 80%;
        text-align: center
    }

    @include media-breakpoint-down(sm) {
        max-width: unset;
        padding: 59px 29px 58px;
    }
}

.serviceBlockText {
    margin-top: 16px;
    margin-bottom: auto;

    ul {
        @include theme-list;
        text-align: left;
        
        @include media-breakpoint-down(xl) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        li {
            padding-left: 18px;
            margin-top: 7px;

            &::before {
                width: 5px;
                height: 5px;
                background-size: 100%;
                mask-size: contain;
            }
        }
    }
}

.serviceBlockIntro {
    margin-top: 25px;
    max-width: 300px;

    @include media-breakpoint-down(xl) {
        max-width: unset;
    }
}

.serviceBlockLink {
    margin-top: 16px;
    display: block;
    margin-bottom: auto;
}