.topSlider {
    animation-delay: 700ms !important;

    .swiper-wrapper .swiper-slide:nth-child(n+2) {
        display: none;
    }
   

    &.swiper-initialized {
        
        
        .swiper-wrapper .swiper-slide:nth-child(n+2) {
            display: block;
        }
    }

    .swiper-slide {

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}

.sliderSection {
    padding-top: 237px;
    background-color: $primary-color;
    position: relative;
    overflow: hidden;
    z-index: 30;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    margin-bottom: -43px;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 150px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 110px;
    }
}

.sliderText {
    font-size: $caption-font-size;
    font-family: $primary-font;
    font-weight: 600;
    letter-spacing: 1.11px;
    line-height: 84px;
    max-width: 700px;

    @include media-breakpoint-down(xl) {
        font-size: $caption-font-size-mobile;
        line-height: 1.4;
    }
    
    @include media-breakpoint-down(sm) {
        font-size:  $caption-font-size-mobile;
    }

    @media all and (max-width: 460px) {
        font-size:  32px;
    }

    u {
        @include underline;
        padding: 0 3px;

        &::before {
            bottom: 4px;
            left: 52%;
            transform: translateX(-50%);
            width: 108%;
        }
    }
}

.sliderButton {
    display: inline-block;
    margin-top: 60px;

    @include media-breakpoint-down(md) {
        margin-top: 30px;
    }
}

.sliderImage {
    position: absolute;
    top: 48.8%;
    transform: translateY(-50%);
    max-width: 818px;
    right: -5.5%;

    @include media-breakpoint-down(xxl) {
        max-width: 47%;
    }

    @include media-breakpoint-down(md) {
        position: relative;
        transform: none;
        top: 0;
        right: 0;
        max-width: 520px;
        margin: 0 auto 30px;
        text-align: center;
    }

    img {
        
        @include media-breakpoint-down(md) {
            width: 50%;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 20px;
            width: 70%;
        }
    }
}

.sliderControlsWrap {
    margin: 112px 0 96px;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
        margin: 40px 0 96px;
    }
}

.slider-pagination {
    display: flex;
    grid-gap: 13px;
    align-items: center;
    justify-content: start;
    margin-right: auto;
    animation-delay: .9s;

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        mask-image: url('/images/icons/pagination-dot.svg');
        background-repeat: no-repeat;
        display: block;
        background-color: #fff;
        opacity: .35;
        transition: opacity .3s ease;

        &-active {
            opacity: 1;
        }

    }
}

.topSliderNav {
    cursor: pointer;
    animation-delay: 1.5s;

    &:hover {

        svg path {
            fill: $accent_color;
        }

    }

    svg path {
        fill: #fff;
        transition: fill .3s ease
    }
}

.topSliderNavPrev {
    margin-right: 18px;
}

.sliderImageInner {
    animation-delay: 1.25s;

    @include media-breakpoint-down(md) {
        animation-delay: .4s;
    }
}