.testimonialsSection {
    background-color: #F7F7F7;
    padding: 238px 0 184px;
    position: relative;
} 

.testimonialsControlsWrap {

    .swiper-pagination-bullet {
        background-color: $secondary_color;
        opacity: .15;
        transition: opacity .3s ease, background-color .3s ease;

        &-active {
            opacity: 1;
            background-color: $primary-color;
        }

    }
}

.testimonialImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 50%;
    text-align: center;
}

.testimonialsInnerText {
    max-width: 596px;
    font-weight: 600;
    
    &::before {
        content: "“"; 
        position: absolute;
        top: -18px;
        left: 0px;
        font-size: 204px;
        color: #F2DC5D;
        display: block;
        line-height: 1;
    }
}

.testimonialsAuthor {
    margin-top: 50px;
    
}

.testimonialsSwiper.swiper {

    @media all and (min-width: 1500px) {
        margin-left: -114px;
    }
}

.testimonialsInnerWrap {
    padding-left: 111px;
    position: relative;
}

.testimonialsControlsWrap {
    margin-top: 53px;

    @media all and (max-width: 1500px) {
        padding-left: 114px;
    }
}

.testimonialsCompany {
    margin-top: 14px;
    font-weight: 600;
}