// Colors

$primary_color: #0CCE6B;
$secondary_color: #390049;
$accent_color: #F2DC5D;
$dark_color: #230B29;
$light_color: #DDDEE0;

// Theme Colors

$theme-colors: (
  "primary": $primary_color,
  "secondary": $secondary_color,
  "accent": $accent_color,
  "dark": $dark_color,
  "light": $light_color,
  "white" : #fff,
);


// Fonts / Typography

$primary-font: 'Poppins', sans-serif;
$caption-font-size: 74px;
$caption-font-size-mobile: 44px;


// Bootstrap variables

$container-max-widths: (
  sm: 520px,
  md: 700px,
  lg: 940px,
  xl: 1120px,
  xxl: 1220px
);

$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);

$grid-gutter-width: 40px;

